<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProvenCashCollectionUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProvenCashCollectionUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ProvenCashCollectionUpdater.Properties.Settings>
            <setting name="MS0001" serializeAs="String">
                <value>ဖောက်သည်စာရင်းပါရပါမည်!</value>
            </setting>
            <setting name="MS0002" serializeAs="String">
                <value>Balance Amount အားလုံးသည်အပေါင်းဒဿမတန်ဘိုး
ဖြစ်ရပါမည်!</value>
            </setting>
            <setting name="MS0003" serializeAs="String">
                <value> ရွေးချယ်ထားသော Fileမှားရွင်းနေပါသည်။!</value>
            </setting>
        </ProvenCashCollectionUpdater.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ProvenCashCollectionUpdater.Properties.Settings>
            <setting name="DbConnStr" serializeAs="String">
                <value>Data Source=YAN-PC\SQL2008R2;Initial Catalog=Proven;User ID=sa;Password=2008</value>
            </setting>
        </ProvenCashCollectionUpdater.Properties.Settings>
    </userSettings>
</configuration>