<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="PTIC.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  
<connectionStrings>
  
  <!--<add name="PTIC.Properties.Settings.PTICConnectionString" connectionString="Data Source=AGL-SERVER\AGLSERVER;Initial Catalog=PTIC_Ver_1_0_7_To_Deliver;User ID=sa;Password=aglteam"
    providerName="System.Data.SqlClient" />-->
<add name="PTIC.Properties.Settings.PTICConnectionString" connectionString="Data Source=YAN-PC\SQL2008R2;Initial Catalog=PTIC_TOYO_COMBINE;User ID=sa;Password=2008"
    providerName="System.Data.SqlClient" />

  <!--<add name="PTIC.Properties.Settings.PTICConnectionString" connectionString="Data Source=HHA;Initial Catalog=PTIC_Ver_1_0_7_To_Deliver;User ID=sa;Password=1"
    providerName="System.Data.SqlClient" />-->
  <!--<add name="PTIC.Properties.Settings.PTICConnectionString" connectionString="Data Source=ATO-PC;Initial Catalog=PTIC_Ver_1_0_7_Mie_Mie;User ID=sa;Password=root@123"
   providerName="System.Data.SqlClient" />-->
  


</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
